<div class="gg">
<div class="bg">
<div  class="firh1"><h1>Contact Us</h1></div>
</div>

<div class="secdiv">
    <h1>Email Us For Online Book/Reservation</h1>
    <p>Monday – Friday<br>
        24/24<br>
        Saturday – Sunday 10:00 Am – 8:00 Pm
    </p>
</div>

<div class="container-flow">
    <div class="table">
        <div class="row">
            <div class="col-sm-5 fircol">
                <i class="fas fa-building ss"></i>
                <p> Address<br>
                    PO Box 814 Hicksville, NY 11802
                </p><br><br>
                <div class="secicon">
                <i class="fas fa-phone-square ss"></i>
                <p> Telephone<br>
                    +123456788
                </p>
                </div>
            </div>
            <div class="col-sm-7 seccol">
                <form action="https://formsubmit.co/polazareef65@gmail.com" method="post">
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <label for="validationDefault01">Name</label>
                        <input type="text" name="name" class="form-control" id="validationDefault01" placeholder="Name..."  required>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationDefault02">Email</label>
                        <input type="email" name="email" class="form-control" id="validationDefault02" placeholder="Email..."  required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <label for="validationDefault03">Destination</label>
                        <select class="form-control" aria-label="Default select example">
                            <option selected>Choose One...</option>
                            <option value="1">Lome</option>
                            <option value="2">Accra</option>
                            <option value="3">Lagos</option>
                            <option value="3">Banjul</option>
                        </select>                      
                    </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationDefault04">Season</label>
                        <select class="form-control" aria-label="Default select example">
                            <option selected>Choose One...</option>
                            <option value="1">Winter</option>
                            <option value="2">Spring</option>
                            <option value="3">Summer</option>
                            <option value="3">Autumn</option>
                        </select>                               
                    </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                          <label for="validationDefault03">Details</label>
                          <input type="text" class="form-control" id="validationDefault03" placeholder="Questions?..." required>
                        </div>
                      </div>
                    <button class="btn btn-primary" type="submit">Send</button>
                  </form>
            </div>
        </div>
    </div>
</div>
</div>

