<div class="all">
<div class="bg">
    <div class="firh1"><h1>About Us</h1></div>
</div>

<div class="container-flow">
    <div class="table">
        <div class="row">
            <div class="col-sm-6 fircol" >
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRX3MIh3F2TGdLslX-iaQSUMnSSbWPW8lvy9DvUEt0on1FD3zQT" alt="firstimage" class="img1">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQlT2nZNUfHxKmcfQbvgBIRcNDUPbMSYlcz3Tu0oQRlr34kmyjz" alt="firstimage" class="img2">
            </div>
            <div class="col-sm-6 seccol">
                <h1>The Best Tour Agency</h1>
                <p>Excel Travel Services Get The Best Price And Service For Your Next Trip To Africa.<br>
                    Fly With Us !<br>
                    Book Your Room Now !<br>
                    Book Your Car Now !<br>
                    Your Dream Vacation Starts Here ! We Are Africa Travel Specialists Your Next Vacation Starts Here<br>   
                    We Are Africa Travel Specialists
                    Get The Best Price And Service For Your Next Trip To Africa.
                </p>
                <button class="btn btn-primary" onclick="location.href='inquiry'">Book Now</button>
            </div>
        </div>
    </div>
</div>

<div class="bg1">
    <div class="firh2">
        <div class="row">
            <div class="col-sm-4">
                <p>The Reason For You</p>
                <h1>Why Travel With Us ?</h1>
                <button class="btn btn-primary" onclick="location.href='inquiry'">Book Now</button>
            </div>
            <div class="col-sm-2 sec">
                <i class="fas fa-clock ic"></i><br>
                <h2>On Time</h2>
            </div>
            <div class="col-sm-2 sec">
                <i class="fas fa-map ic"></i><br>
                <h2>Experienced</h2>
            </div>
            <div class="col-sm-2 sec">
                <i class="fas fa-pie-chart ic"></i><br>
                <h2>Fast Service</h2>
            </div>
        </div>
    </div>
</div>
</div>