<div class="alll">
<!--header-->
<div class="firhead">
  <p class="firheadp"><i class="fas fa-phone mr-1"></i> + 01 234 567 88</p>
</div>
<nav class="navbar  navbar-expand-sm  top">
  <a class="navbar-brand" href="">
    <img src="https://media-exp1.licdn.com/dms/image/C4D16AQEa-SNLesmTOg/profile-displaybackgroundimage-shrink_200_800/0/1647792880743?e=2147483647&v=beta&t=-1qULJ5ZB9k0h_AWeeR8T1XRy-4EaNQOCJJILahiXPU" alt="logo" class="img" >
    <a href="#" ></a>
  </a>  
  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon ">☰</span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" >
      <ul class="navbar-nav ml-auto">
          <li class="nav-item " >
              <a class="nav-link" href="" >Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="aboutus">About Us</a>
          </li>   
          <li class="nav-item">
              <a class="nav-link" href="tours">Tours</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="inquiry">Inquiry</a>
          </li>    
      </ul>
  </div>  
</nav>
<!--header-->


<router-outlet class="rout"></router-outlet>


<div class="container-flow ss">

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #3e3e3e"
          >
    <section class="">
      <div class="container-flow text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4 mt-5">
            <h4 class="text-uppercase fw-bold">About Us</h4>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #bf2839; height: 2px"
                />
            <p>
              Excel Travel Services Get The Best Price And Service For Your Next Trip To Africa.
              Fly With Us Book Your Room Now Book Your Car Now Your Dream Vacation Starts Here
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
            <h4 class="text-uppercase fw-bold">Menu</h4>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #bf2839; height: 2px"
                />
            <p>
              <a href="" class="text-white">Home</a>
            </p>
            <p>
              <a href="aboutus" class="text-white">About Us</a>
            </p>
            <p>
              <a href="tours" class="text-white">Tours</a>
            </p>
            <p>
              <a href="inquiry" class="text-white"> Inquiry</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
            <!-- Links -->
            <h4 class="text-uppercase fw-bold">Popular Destinations</h4>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #bf2839; height: 2px"
                />
            <p>
              <a href="" class="text-white">Loam</a>
            </p>
            <p>
              <a href="" class="text-white">Accra</a>
            </p>
            <p>
              <a href="" class="text-white">Lagos</a>
            </p>
            <p>
              <a href="" class="text-white">Banjul</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-5">
            <!-- Links -->
            <h4 class="text-uppercase fw-bold">Contact Us</h4>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #bf2839; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
</div>

