<div class="container-fluid">
    <div class="row">
        <div class="polaroid">
            <div class="img-hover-zoom">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAgjxThjyTJwzoU__oIfAsDFRv8DN3gvyTcw&usqp=CAU" alt="Norway" style="width:100%">
            </div>
            <div class="container">
                <h1>Egypt, Pyramids</h1>
                <p>Pyramids the most beautiful thing at Egypt and all of tourists come to Egypt to visti it...</p>
            </div>
            <div>
                <button type="button" class="btn1 btn-primary" onclick="location.href='inquiry'"><span>Book</span></button>
            </div>
        </div>
        <div class="polaroid">
            <div class="img-hover-zoom">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU_4aTStfYfv11JnevEu-MfqqLdc6qV78l2g&usqp=CAU" alt="Norway" style="width:100%">
            </div>
            <div class="container">
                <h1>Mauritius Island, Africa</h1>
            <p>The beautiful and inviting island nation of Mauritius is an ideal ‘flop and drop’<br> at the conclusion of your safari. Indulge in the delightful scents of the fragrant...</p>
            </div>
            <div>
            <button type="button" class="btn1 btn-primary" onclick="location.href='inquiry'">Book</button>
            </div>
        </div>
        <div class="polaroid">
            <div class="img-hover-zoom">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQprIpeeoREuI-XMB4pj9OaLRmIh7xQJDSTkQ&usqp=CAU" alt="Norway" style="width:100%">
            </div>
            <div class="container">
                <h1>Spain, Benidorm</h1>
                <p>Benidorm is a buzzing resort with a big reputation for beach holidays. Situated in sunny Costa Blanca, the town is one of the original Spanish beach resorts...</p>
            </div>
            <div>
                <button type="button" class="btn1 btn-primary" onclick="location.href='inquiry'">Book</button>
            </div>
        </div>
    </div>
</div>

<div class="bg1">
    <div class="firh2">
        <div class="container-fluid">
            <h1 class="h11">
                First-class Impressions
                are Waiting for You!
            </h1>
            <p class="pp">Our agency offers travelers various tours and excursions with destinations all over
                the world. Browse our website to find your dream tour!
            </p>
            <button type="button" class="btn2 btn-primary" onclick="location.href='inquiry'">Book Now</button>
        </div>
    </div>
</div>